<!--
    [свойство]="выражение"
    В большинстве случаев интерполяция и привязка свойств дает одинаковый результат.
    Интерполяцию и привязку свойств можно использовать только в том случае, когда целевое свойство является свойством DOM объекта
-->
<!--
    В данном случае мы устанавливаем значения свойств src и title для DOM элемента img
-->
<img [src]="imageSrc" [title]="imageTitle">

<!--
    В этом случае мы устанавливаем значения для атрибутов src и title значения,
    но браузер прочитав эти атрибуты установит значения для соответствующих свойств объекта DOM дерева.
-->
<img src="{{imageSrc}}" title="{{imageTitle}}">
<br>
<!--
    Для некоторых случаев установка атрибута через интерполяцию не подойдет.
    Например, наличие атрибута checked в элементе checkbox расценивается браузером как значение true для свойства checked данного элемента.
    Отсутствие атрибута checked - расценивается как значение false. Не зависимо от того, какое значение будет результатом выражения при использовании
    интерполяции, checkbox всегда будет отмечен. Но если мы будем использовать привязку свойств, то будем устанавливать непосредственно значение свойства
    checkbox. Для этих целей в Angular 1.x использовались специальные директивы - ng-checked, ng-disabled и т.д. В Angular 2 - привязка свойств.
-->
<input type="checkbox" [checked]="flag"/> flag
