<h1 class="lesson-title">
  Angular 2 Components
</h1>

<nav>
  <h4>01_components</h4>
  <a routerLink="/sample1" routerLinkActive="active">01_styles</a> <br/>
  <a routerLink="/sample2" routerLinkActive="active">02_input</a> <br/>
  <a routerLink="/sample3" routerLinkActive="active">03_output</a> <br/>
  <a routerLink="/sample4" routerLinkActive="active">04_componentProps</a> <br/>
  <a routerLink="/sample5" routerLinkActive="active">05_projection</a> <br/>
  <h4>02_lifecycle</h4>
  <a routerLink="/sample6" routerLinkActive="active">01_ngOnInit</a> <br/>
  <a routerLink="/sample7" routerLinkActive="active">02_ngOnChanges</a> <br/>
  <a routerLink="/sample8" routerLinkActive="active">03_ngOnChanges</a> <br/>
  <a routerLink="/sample9" routerLinkActive="active">04_AllEvents</a> <br/>
  <h4>03_child_and_content</h4>
  <a routerLink="/sample10" routerLinkActive="active">01_viewChild</a> <br/>
  <a routerLink="/sample11" routerLinkActive="active">02_viewChildren</a> <br/>
  <a routerLink="/sample12" routerLinkActive="active">03_viewContent</a> <br/>
</nav>

<div id="sample-panel" class="theme-green">
  <router-outlet></router-outlet>
</div>