<h1 class="lesson-title">
  Angular 2 - Формы
</h1>

<nav>
  <h4>sample01-input</h4>
  <a routerLink="/sample1" routerLinkActive="active">01_events</a><br/>
  <a routerLink="/sample2" routerLinkActive="active">02_event_object</a><br/>
  <a routerLink="/sample3" routerLinkActive="active">03_template_ref</a><br/>
  <a routerLink="/sample4" routerLinkActive="active">04_key_enter</a><br/>
  <a routerLink="/sample5" routerLinkActive="active">05_blur</a><br/>
  <a routerLink="/sample6" routerLinkActive="active">06_my-list</a><br/>
  <h4>sample02-forms</h4>
  <a routerLink="/sample7" routerLinkActive="active">01_form</a><br/>
  <a routerLink="/sample8" routerLinkActive="active">02_styles</a><br/>
  <a routerLink="/sample9" routerLinkActive="active">03_form_custom_css</a><br/>
  <a routerLink="/sample10" routerLinkActive="active">04_form_error_msg</a><br/>
  <a routerLink="/sample11" routerLinkActive="active">05_form_few_errors</a><br/>
  <a routerLink="/sample12" routerLinkActive="active">06_form_ngSubmit</a><br/>
  <a routerLink="/sample13" routerLinkActive="active">07_form_msg_in_code</a><br/>
  <h4>sample03-reactiveForms</h4>
  <a routerLink="/sample14" routerLinkActive="active">01_form_control</a><br/>
  <a routerLink="/sample15" routerLinkActive="active">02_form_control_validation</a><br/>
  <a routerLink="/sample16" routerLinkActive="active">03_form_builder</a><br/>
  <a routerLink="/sample17" routerLinkActive="active">04_reactive_form</a><br/>
  <a routerLink="/sample18" routerLinkActive="active">05_custom_validators</a><br/>
</nav>

<div id="sample-panel">
  <router-outlet></router-outlet>
</div>