<h1 class="lesson-title">
  Angular 2 - Внедрение зависимостей
</h1>

<nav>
  <h4>sample02-simpleService</h4>
  <a routerLink="/sample1" routerLinkActive="active">Data Service</a>

  <h4>sample03-serviceHierarchy</h4>
  <a routerLink="/sample2" routerLinkActive="active">Counter</a>

  <h4>sample04-providers</h4>
  <a routerLink="/sample3" routerLinkActive="active">01_provider_literal</a> <br/>
  <a routerLink="/sample4" routerLinkActive="active">02_aliased_provider</a> <br/>
  <a routerLink="/sample5" routerLinkActive="active">03_value_provider</a> <br/>
  <a routerLink="/sample6" routerLinkActive="active">04_factory_provider</a> <br/>
  <a routerLink="/sample7" routerLinkActive="active">05_opaque_token</a> <br/>
  <a routerLink="/sample8" routerLinkActive="active">06_optional</a> <br/>
  <a routerLink="/sample9" routerLinkActive="active">07_injector</a> <br/>
  <a routerLink="/sample10" routerLinkActive="active">08_implicit</a> <br/>
</nav>

<div id="sample-panel">
  <router-outlet></router-outlet>
</div>