<p>Использование ngFor</p>
<ul>
  <!--
      let item of items - получить каждый элемент из массива items, сохранить
      в локальной переменной item и сделать доступной в HTML элементе
      на каждой итерации.
      Параметр передаваемый в ngFor - microsyntax, а не выражение, как в предыдущих
      примерах.
  -->
  <li *ngFor="let item of items">
    {{item}}
  </li>
</ul>

<p>Использование ngFor с индексом</p>
<ul>
  <!--
      Использование локальной переменной index и even
      Возможные локальные переменные:
      index
      even
      odd
      first
      last
      https://angular.io/docs/ts/latest/api/common/index/NgFor-directive.html
  -->
  <li *ngFor="let item of items; let i = index; let e = even"
      [style.color]="e ? 'red' : ''">
    {{i + 1}} - {{item}}
  </li>
</ul>