<h1 class="lesson-title">
	Angular 2 - Привязка данных.
</h1>

<nav>
	<h4>sample01-binding</h4>
	<a routerLink="/sample-01" routerLinkActive="active">01_interpolation</a> <br />
	<a routerLink="/sample-02" routerLinkActive="active">02_property_binding</a> <br />
	<a routerLink="/sample-03" routerLinkActive="active">03_event_binding</a> <br />
	<a routerLink="/sample-04" routerLinkActive="active">04_attribute_binding</a> <br />
	<a routerLink="/sample-05" routerLinkActive="active">05_class_binding</a> <br />
	<a routerLink="/sample-06" routerLinkActive="active">06_style_binding</a> <br />
	<h4>sample02-two-way-databinding</h4>
	<a routerLink="/sample-07" routerLinkActive="active">01_ngModel</a><br />
	<a routerLink="/sample-08" routerLinkActive="active">02_ngModel_Inside</a><br />
	<h4>sample03-built-in-directives</h4>
	<a routerLink="/sample-09" routerLinkActive="active">01_ngClass</a><br />
	<a routerLink="/sample-10" routerLinkActive="active">02_ngStyle</a><br />
	<a routerLink="/sample-11" routerLinkActive="active">03_ngIf</a><br />
	<a routerLink="/sample-12" routerLinkActive="active">04_ngSwitch</a><br />
	<a routerLink="/sample-13" routerLinkActive="active">05_ngFor</a><br />
	<h4>sample04-templates</h4>
	<a routerLink="/sample-14" routerLinkActive="active">01_ngIf_templates</a><br />
	<a routerLink="/sample-15" routerLinkActive="active">02_ngSwitch_templates</a><br />
	<a routerLink="/sample-16" routerLinkActive="active">03_ngFor_templates</a><br />
	<a routerLink="/sample-17" routerLinkActive="active">04_temp_ref_var</a><br />
</nav>
<div id="sample-panel">
	<router-outlet></router-outlet>
</div>